.slider {
  width: 97%;
  height: auto;
  box-sizing: border-box;
  padding-left: 20px;
  position: relative;
  overflow: visible; // Đảm bảo các phần tử con có thể hiển thị ra ngoài

  .slider-content {
    position: relative;

  }
}