.container {
    width: 100%;
    height: auto;

    .top10{
        margin-top: -220px;
    }
    .slide {
        margin-left: 50px;
        margin-bottom: 30px;
        .slide-title {
            position: relative;
            z-index: 10000;
            color: white;
            height: 50px;
            margin-left: 35px;
            font-size: 20px;
            font-weight: bold;
            align-content: center;
        }

        
    }
}
